/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-ago-2016, 0:41:06
    Author     : agna8685
*/


.logout-img
{
    background-image:url("../images/login.png") !important;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    
}

.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
border: hidden;
border-color: white;
}

