/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-ago-2016, 0:41:06
    Author     : agna8685
*/


.logout-img
{
    background-image:url("../images/login.png") !important;
    background-size: 10px 10px;
    background-repeat: no-repeat;

}

.panelNoBorder, .panelNoBorder tr, .panelNoBorder td{
    border: hidden;
    border-color: white;
}

.red{color:#ce3426;}

.mandatory-astk {
    color:#d62010;    
    font-size: 18px;  
    font-weight: bold;  
    /*//font-family: 'exoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;*/
}


/*//////ui-default menu*/

.ui-menuSideLeft-default
{
    border: 1px solid #20272a;
    background: #20272a url(images/ui-bg_highlight-hard_80_menu_1x100.png) 50% 50% repeat-x;
    background: #20272a linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #20272a -webkit-gradient(linear, left top, left bottom, from(rgba(155,165,172,0.8)), to(rgba(32,39,42,0)));
    background: #20272a -moz-linear-gradient(top, rgba(155,165,172,0.8)), to(rgba(32,39,42,0)); /*    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);     -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)"; */
    color: #9ba5ac;            
    cursor: pointer;  

    font-size: 16px; margin: 2px 0px 0px 60px; display: block; margin: 0px; height: 100%;                                         
    font-family: 'latoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;        
    
}

.ui-menuSideLeft-default
{
    -moz-box-shadow: inset 0px 1px 0px #fff;
    -webkit-box-shadow: inset 0px 1px 0px #fff;
    box-shadow: inset 0px 1px 0px #fff;
}
.ui-menuSideLeft-default a, .ui-menuSideLeft-default a:link, .ui-menuSideLeft-default a:visited
{    
    color:  #9ba5ac;
    font-size: 16px; 
    font-family: 'latoregular', "Trebuchet MS", Arial, Helvetica, sans-serif;        
}

.ui-menuSideLeft-default .ui-icon
{
    background-image: url(images/ui-icons_38667f_256x240.png);
}
